#title {
  font-size: 2.5rem;
  color: #4CAF50;
  text-align: center;
  margin-bottom: 20px;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}


body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

label {
  font-size: 1rem;
  color: #555;
  display: block;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover Effect */
label:hover {
  background-color: #e8f5e9;
  transform: scale(1.02);
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#submit {
  background-color: blue;
  color: white;
}

#submit:hover {
  background-color: #8686ff;
  transform: scale(1.05);
}

#refresh {
  background-color: #ff2212;
  color: white;
  display: none;
}

#refresh:hover {
  background-color: #ff6c6c;
  transform: scale(1.05);
}

/* Result */
#result {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}